<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> MY APP</title>
</head>
<body>
	<form action="/WorkHours/Check/" method="POST">
				<button type="submit">進入人事資料庫</button>
	</form>
	<br>
		<% include ../partials/additem %>
	<br>
		<% include ../partials/showitem %>
	<br>
		<% include ../partials/fruititem %>
	<br>
		<% include ../partials/essentialitem %>
	<br>
		<% include ../partials/EachItemList %>
	<br>


</body>
</html>